#phrase {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
}

.plan {
    margin-left: 2em;
    margin-bottom: 1em;
}

.list {
    height: auto;
    padding: 20px;
    min-height: 100vh;
}

.add-form {
    background-color: #fff7f1;
    height: auto;
    padding: 20px;
    min-height: 100vh;
}

.header {
    background-color: #3a393900;
    padding-right: 20px;
    padding-left: 20px;
}

.text-head {
    color: white;
}

nav {
    background-color: #3a393900;
}

.btn {
    background-color: #522a01;
}

.select-block {
    background-color: #ffffff4a;
    border-radius: 4px;
}
