<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Business planer</title>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>

<div class="big-header" th:style="'background:url(' + @{/picture/back3.jpg} + '); background-size: cover; min-height: 100vh'" >
    <nav>
        <div class="nav-wrapper header">
            <a class="navbar-brand" href="#"><img th:src="@{/picture/logo2.png}" alt="Logo" style="width: 23em;"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><span class="navbar-text" id="phrase" style="font-family: 'Julius Sans One', sans-serif;">
        BUILD ONLY PROPERLY BUSINESS
    </span></li>
            </ul>
        </div>
    </nav>


    <div class="section"></div>
    <main>
        <div style="text-align: center;">


            <div class="container">
                <div class="z-depth-1 login-cont row" style="display: inline-block; padding: 32px 48px 0px 48px;">
                    <h5 class="login-text">Please, login into your account</h5>

                    <form class="col s12" method="post">
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='email' name='email' id='email' />
                                <label for='email'>Enter your email</label>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='password' />
                                <label for='password'>Enter your password</label>
                            </div>
                        </div>
                        <label >
                            <a href='#!' style="color: #a27f00"><b>Forgot Password?</b></a>
                        </label>

                        <br />
                        <div style="text-align: center;">
                            <div class='row'>
                                <button type='submit' name='btn_login' id="login_btn" class='col s12 btn btn-large'>Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <a th:href="@{/register}" style="color: #ffc251; font-size: 1.3em;">Create account</a>
        </div>

        <div class="section"></div>
        <div class="section"></div>
    </main>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 by Vadym Polyanski
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script th:src="@{/js/login.js}"></script>
</body>
</html>